<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<div class="container">
  <!-- Left Section -->
  <div class="left-section">
    <img src="assets/images/solcon_logo.png" alt="Logo" class="logo" />
    <button class="tagline"># No.1 Platform</button>
    <h1>SHAPING THE FUTURE OF <br>DEEP TECH INVESTMENTS</h1>
    <p>
      Solcon’s deep tech strategy is guided by the firms’ vision to<br>
      deliver great returns to investors on a long-term basis
    </p>
    <div class="stats">
      <div>
        <span>20</span>
        <p>Years Experience</p>
      </div>
      <div class="separator"></div>
      <div>
        <span>15</span>
        <p>Our team</p>
      </div>
      <div class="separator"></div>
      <div>
        <span>19</span>
        <p>Locations</p>
      </div>
    </div>
    <button class="visit-site" (click)="visitSite()">
      Visit Site →
    </button>
  </div>

  <!-- Right Section -->
  <div class="main-right">
    <div class="right-section">
      <h2>Login Here</h2>
      <form [formGroup]="loginForm">
        <label class="label" for="username">Username</label>
        <div class="input-group">
          <span class="icon">
            <img src="assets/svg/user.svg" alt="User Icon" height="31" width="31"/>
          </span>
          <div class="separator"></div>
          <input type="text" id="username" formControlName="username" placeholder="user@gmail.com" />
        </div>
        <label class="label" for="password">Password</label>
        <div class="input-group">
        <span class="icon">
          <img src="assets/svg/password.svg" alt="Lock Icon" height="31" width="31"/>
        </span>
          <div class="separator"></div>
          <input type="password" id="password" formControlName="password" placeholder="•••••" />
        </div>
        <button [disabled]="isLoading" (click)="onLogin()" class="login-btn">Click to Login
          <ng-container *ngIf="!isLoading"></ng-container>
          <div *ngIf="isLoading" class="spinner"></div>
        </button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
