/*** can add global styles to this file, and also import other style files ***/
@import 'ngx-toastr/toastr';
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #27223D; /* Ensure the background is applied to the entire page */
}

.body {
  width: 100%;
  margin: 0;
  min-height: 100vh; /* Ensure it covers at least the viewport height */
  height: auto; /* Allow it to grow if content exceeds viewport */
  background-color: #27223D;
  padding: 3rem;
  position: relative;
}

.body-trimmed, .body-md-screen {
  width: 100%;
  margin: 0;
}


::ng-deep .ngx-spinner-overlay {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/**** success toastr style ****/
.toast-success {
  background-color: mediumseagreen;
  color: white !important;
  font-family: 'Mangal', sans-serif !important;
  border-left: 3px solid darkgreen !important;
  padding: 10px;
  font-size: 13px !important;
  box-shadow: none !important;
  text-shadow: none !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

}

.toast-success .toast-title {
  font-weight: bold;
  width: 100%;
}

.toast-success .toast-message {
  flex: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-success .toast-icon {

  margin-right: 10px;
}

.toast-success .toast-close-button {
  font-weight: normal !important;
  opacity: 0.8 !important;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px !important;
}


/**** error toastr style ****/
.toast-error {
  background-color: #C41E3A !important;
  color: white !important;
  font-family: 'Mangal', sans-serif !important;
  border-left: 3px solid #FAA0A0;
  padding: 10px;
  font-size: 13px !important;
  box-shadow: none !important;
  text-shadow: none !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

}

.toast-error .toast-title {
  font-weight: bold;
  width: 100%;
}

.toast-error .toast-message {
  flex: 1;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-error .toast-icon {

  margin-right: 10px;
}

.toast-error .toast-close-button {
  font-weight: normal !important;
  opacity: 0.8 !important;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
